* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
.wrapper{
    width: 100%;
    position: relative;
}
.insta{
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
}
.sidebar{
    position: fixed;
    height: 100%;
    width: 19.4%;
    background-color: rgb(226, 229, 228);
}
.right-container{
    margin-top: 8px;
    border-radius: 35px;
    position: fixed;
    right: 8px;
    height: 100%;
    width: calc(100% - 20%);
    background-color: rgb(242, 246, 245);
    
}
.topnav{
    height: 10vh;
    width: 100%;
    background-color: rgb(242, 246, 245);
    display: flex;
    z-index: 10;
}
.bottomnav{
    position: fixed;
    top: calc(100% - 90vh);
    height: 23vh;
    width: 80%;
    background-color: rgb(242, 246, 245);
}
.left-box{
    border-radius: 35px 0px 0px 0px;
    height: 100%;
    width: 50%;
    background-color: rgb(242, 246, 245);
}
.right-box{
    display: flex;
    border-radius: 0px 35px 0px 0px;
    height: 100%;
    width: 50%;
    background-color: rgb(242, 246, 245);
}
.left-box input{
    margin-left: 15px;
    margin-top: 20px;
    padding-left: 5px;
    border-radius: 30px;
    height: 30px;
    width: 180px;
}
.sections{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
    gap: 15px;
}
.sections img{
    height: 35px;
    width: 35px;
    border-radius: 40px;
}
.sections button{
    color: white;
    background:linear-gradient(to right, #ff7a18, #ff0066);

    width: 30%;
    border-radius: 30px;
    padding:7px;
    margin-bottom: 6px;
}
.bottomnav .head {
    height: 20%;
    font-size: 25px;
    font-weight: 600;
    margin-top: 25px;
    margin-left: 30px;
}
.icons{
  height: calc(100% - 20%);
  display: flex;
  align-items: center;
  background-color: rgb(242, 246, 245);

  overflow-x: auto;          
  overflow-y: hidden;

  gap: 10px;
  padding-left: 30px;

  justify-content: flex-start; 
}
.icons::-webkit-scrollbar {
  height: 0;
  display: none;
}

.box{
    border: 3px solid rgb(149, 18, 188);
    padding-top: 75px;
    height: 40px;
    width: 80px;
    border-radius: 50px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}
.box p{
    padding-top: 32px;
}
.main{
    display: flex;
    margin-top: 4px;
    gap: 7px;
}
.main p{
    font-family: cursive;
    height: 30px;
    font-size: 26px;
    font-weight: 900;
    padding-top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main img{
    margin-top: 8px;
    margin-left: 45px;
    height: 30px;
    width: 30px;
}
.mainICON{
    margin-top: 20px;
    height: 180px;
    background-color: rgb(226, 229, 228);;
    padding-top: 30px;
    padding-left: 70px;
}
.MYimg{
    background-image: url("https://fabulouspic.com/wp-content/uploads/2024/12/Insta-DP-for-Boys9.jpg");
    background-size: 130%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: aliceblue;
    height: 90px;
    width: 90px;
}
.text1{
    margin-top: 5px;
    margin-left: 5px;
    font-weight: 800;
}
.box1{
    background-image: url("https://fabulouspic.com/wp-content/uploads/2024/12/Insta-DP-for-Boys9.jpg");
    background-size: cover;
}
.box2{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnFObePmz9WyMjsndAXUvbuSro2Nj5lZpQ53KaiSVw7SVwFYI5TfdixLgFQDCt8_tNdQYbIn6jCIfRGXVnFQ29DZQACQuPyFLBw73_Qw&s=10");
    background-size: cover;
}
.box3{
    background-image: url("https://www.royalchallengers.com/PRRCB01/public/styles/1061x767_landscape/public/2024-02/GettyImages-2021782082.jpg?itok=ie-gmXDR");
    background-size: cover;
}
.box4{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT02hrVxp7PukjjhAb92Ayy3BNvFY8avfflaA&s");
    background-size: cover;
}
.box5{
    background-image: url("https://d3lzcn6mbbadaf.cloudfront.net/media/details/ANI-20240928095350.jpg");
    background-size: cover;
}
.box6{
    background-image: url("https://cdn.dnaindia.com/sites/default/files/2025/04/12/2688229-ruturaj-gaikwad-football.jpg?im=FitAndFill=(1200,900)");
    background-size: cover;
}
.box7{
    background-image: url("https://i.pinimg.com/736x/16/f0/88/16f08843462f83c6d7b0beb3faf744dc.jpg");
    background-size: cover;
}
.box8{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRltclVZMROQulFL-bLEDc16mQ9Soim4HQH_g&s");
    background-size: cover;
}
.box9{
    background-image: url("https://cricketfanaticsmag.com/wp-content/uploads/2025/08/IMG_3745.jpeg");
    background-size: cover;
}
.box10{
    background-image: url("https://www.royalchallengers.com/PRRCB01/public/styles/1061x767_landscape/public/2024-02/GettyImages-2007295652.jpg?itok=P2j5MlvM");
    background-size: cover;
}
.box11{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE7VSjp6Uw-t4tdE2xL-sTOW2PLTZ6sRsDoQ&s");
    background-size: cover;
}
.box12{
    background-image: url("https://pbs.twimg.com/profile_images/1725531451960000512/T11ArnAF_400x400.jpg");
    background-size: cover;
}
.box13{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/63/Shivam_Dube_in_PMO_New_Delhi.jpg");
    background-size: cover;
}
.num{
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(226, 229, 228);
    font-weight: 500;
}
.nameOFnum{
    margin-right: 4px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 30px;
    background-color: rgb(226, 229, 228);
    font-weight: 500;
    padding-left: 5px;
}
.n1{
    padding-left: 11px;
}
.n2{
    padding-left: 27px;
}
.n3{
    padding-left: 10px;
}
.desc{
    margin-top: 10px;
}
.name{
    padding-top: 16px;
    padding-left: 15px;
    font-weight: 530;
}
.bio{
    padding-top: 9px;
    padding-left: 15px;
}
.highlights{
    padding-top: 36px;
    font-weight: 700;
    padding-left: 15px;
}
.highICON{
    background-color: rgb(226, 229, 228);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.high{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(213, 213, 213); 
    height: 50px;
    width: 50px;
}
.h2{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxuNMflKLMGwzNmZt9Tq-_GSh09SSM7ii3xA&s");
    background-size: cover;
}
.h3{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLfqdL7Ny_JexwALn5G31fxKCICTd55kvYkw&s");
    background-size: cover;
}
.h4{
    background-image: url("https://www.readunwritten.com/wp-content/uploads/2025/10/anthony-delanoix-hzgs56Ze49s-unsplash-696x398.jpg");
    background-size: cover;
}
.Hname{
    margin-left: 9px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 30px;
}
.last{
    background-color: rgb(226, 229, 228);
    height: 200px;
    font-weight: 550;
}
.F{
    display: flex;
    padding-top: 35px;
    padding-left: 15px;
}
.F img{
    height: 20px;
    width: 20px;
    background-size: 150%;
}
.F p{
    padding-left: 5px;
}
.E{
    display: flex;
    padding-top: 14px;
    padding-left: 15px;
}
.E img{
    height: 20px;
    width: 20px;
    background-size: 150%;
}
.E p{
    padding-left: 5px;
}
.S{
    display: flex;
    padding-top: 16px;
    padding-left: 15px;
}
.S img{
    height: 20px;
    width: 20px;
    background-size: 150%;
    border-radius: 50px;
}
.S p{
    padding-left: 5px;
}
.L{
    display: flex;
    padding-top: 30px;
    padding-left: 15px;
}
.L img{
    height: 20px;
    width: 20px;
    background-size: 150%;
}
.L p{
    padding-left: 5px;
}
.feed{
    height: 40px;
    width: 100%;
    background-color: rgb(241, 245, 244);
    position: fixed;
    margin-top: 300px;
    margin-left: 250px;
    display: flex;
    text-align: center;
    padding-left: 30px;
    font-weight: 600;
    font-size: 21px;
}
.Account{
    height: 340px;
    width: 520px;
    background-color: #e9eaeb;
    position: fixed;
    margin-top: 340px;
    margin-left: 270px;
    border-radius: 30px;
    display: flex;
    padding-left: 30px;
    padding-top: 5px;
    font-weight: 550;
    font-size: 15px;
    gap: 12px;
}

.Account p{
    padding-top: 6px;
}
.Account img{
    margin-top: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50px;
}
h5{
    margin-top: 5px;
    margin-left: 250px;
}
.image{
    position: fixed;
    height: 270px;
    width: 450px;
    margin-top: 390px;
    margin-left: 300px;
    background-image: url("https://i0.wp.com/www.opindia.com/wp-content/uploads/2024/06/India-T20-2024-WC-final-champion.jpg?fit=2000%2C1145&ssl=1");
    background-size: cover;
    border-radius: 30px;
}

.Account2{
    height: 340px;
    width: 420px;
    background-color: #e9eaeb;
    position: fixed;
    margin-top: 340px;
    margin-left: 820px;
    border-radius: 30px;
    display: flex;
    padding-left: 30px;
    padding-top: 5px;
    font-weight: 550;
    font-size: 15px;
    gap: 12px;
}

.image2{
    position: fixed;
    height: 270px;
    width: 380px;
    margin-top: 390px;
    margin-left: 839px;
    background-image: url("https://img.freepik.com/premium-vector/creative-marketing-social-media-instagram-post-design-template_561840-88.jpg");
    background-size: 83%;
    border-radius: 30px;
}

.Account2 p{
    padding-top: 6px;
}
.Account2 img{
    margin-top: 5px;
    height: 20px;
    width: 28px;
    border-radius: 50px;
}
h6{
    margin-top: 5px;
    margin-left: 220px;
}
